<h1>
Contact Us
</h1>
<center>
<h4>

        <div id="main">
        <form>
        
        <br>
        <label>First Name:</label><div align="mid-center"><input type="text" id="firstname"></div>
        
         <br>
         <label>Last Name:</label><div align="middle"><input type="text" id="lastname"></div>
            
         <br>
         <label>E-Mail:</label><div align="middle"><input type="text" id="email"></div>         
         
         <br>
         <label>Message:</label><div align="middle"><textarea type="text" id="message"> </textarea></div>    

         <br>

          <div class="button">
          <button type="submit">Send your message</button>
          </div>
          </form>
          </div>
          </h4>
        </center>
