<center><b>DASHBOARD</b></center>
<p> Welcome to international students portal </p>

Featured Universities
<li> <a href="/lsus">Louisiana State University - Shreveport </a></li>
<li> Southern University </li>
<br />
Your Information
<br />
<b> Email: </b>  <%= current_user.email %>
<br />
<b> Last Sign In: </b> : <%= current_user.last_sign_in_at %>

