<h1> <b> About Us <b> </h1>
<div>
International Students do not have all resources in ONE Web App in order to find enough information about schools or the process to come to the U.S.
International Students.
  
  Our Web App is for International Students who need to accelerate the process to come to the US, the “International Student Portal” will allow International Students to familiarize themselves with what they need in order to apply and what is the process to become a student in the US. Unlike all the other competitive alternatives, our product will have all the information in one place to efficiently, concisely, and reliably facilitate the admissions and accommodation process for international students at an affordable price.  
<div>
