<!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Coming Soon</h2>
          <p>Coming soon is a site that will provide a much needed benefit to the International Student looking to study in the US. We will provide a single place for students from all over the world to share, connect, and obtain all necessary information and documentation for making this change  </p>
         <p><input type="button" onclick="#" value="View details" /></p>
        </div>
        <div class="col-md-4">
          <h2>About</h2>
          <p>Our Web App is for International Students who need to accelerate the process to come to the US, the “International Student Portal” will allow International Students to familiarize themselves with what they need in order to apply and what is the process to become a student in the US. Unlike all the other competitive alternatives, our product will have all the information in one place to efficiently, concisely, and reliably facilitate the admissions and accommodation process for international students at an affordable price. </p>
          
          <input type="submit" value="View details" onclick="window.location='/help';" />  

        </div>
        <div class="col-md-4">
          <h2>Contact</h2>
          <p>Feel free to leave us a comment on the ISWP Comment page. We value any feedback our users can offer.</p>
          <p><input type="submit" value="View details" onclick="window.location='/contactus';" />  </p>
            </div>

       </div>

