<center><h1>Create a New Checklist for Admissions</h1></center>

Checking the following radio buttons will add them as requirements to the checklist: 

<br />
<br />

<%= render 'form_new' %>

<%= link_to 'Back', checklists_path %>
