<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container-fluid" >
    <div class="row right-form" >

        <center>
          <br>
          <br>
          <br>
          <br>
          <h1> International Students Portal</h1>
          <p><b>Helping International Students Connect. </b></p><br />
          <br>
          <br>
        </center>
    </div> 
  </div>
</div>