<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container-fluid" style="background-color:transparent !important;">
      	<center>
        <h1>International Students Portal</h1>
        <p><b>Helping International Students Connect. </b></p><br />
        </center>
         <%= render 'layouts/register' %>
         <center><p><a class="btn btn-primary btn-lg" href="#" role="button" style="color:white">Learn more &raquo;</a></p></center>
      </div>

     
    </div>
