<ul class="nav navbar-nav navbar-right">
  
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Signed in as <strong><%= current_google_user.name %></strong>!</b> <span class="caret"></span></a>
    <ul id="login-dp" class="dropdown-menu">
      <li>
        <div class="row">
          <div class="col-md-12">
            Buttons to navigate website content pages
            </div>
            <div class="bottom text-center">
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
            </div>
        </div>
      </li>
    </ul>
  </li>
</ul>

        
        

